@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: sans-serif;
  font-weight: 500;
  font-style:normal;
}

::-webkit-scrollbar {
  display: none;
}